.home .cities .btn.btn-default {
    color: #333;
    background-color: #eee;
    border-color: #eee;
}

.home .cities .btn:hover {
    background-color: #fff;
}

.home .cities {
    background: #eeeeee;
    color: #3b679c;
    text-align: center;
    padding-bottom: 3em;
    padding-top: 1em;
}

.home .cities .thumbnail {
    max-width: 250px;
    padding: 0;
    border: 2px solid #777777;
}

.home .jumbotron {
    background-image: url(../img/Nepal_Pokhara_wiki_commons.JPG);
    background-size: cover;
    color: white;
    margin-bottom: 0;
    padding: 7.5em 0 3.75em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    background: url(../img/2C_LogoWhite2.png) 0 27px no-repeat;
        background-position-x: 0px;
        background-position-y: 27px;
        background-size: auto;
    background-size: 75%;
    background-position: center;
    text-indent: -9999px;
    height: 72px;
    width: 168px;
}
