{% extends "base.html" %}
{% block extra_head %}
      <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
{% endblock %}
{% block extra_tab %}
{% comment %}
Add Tab for Third Party Apps
<li>
 <a href="{{ PROJECT_ROOT }}app">App</a>
</li>
{% endcomment %}
  <li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<i class="fa fa-angle-down fa-lg"></i></a>
    <ul class="dropdown-menu">
    {% for category in CATEGORIES %}
      <li><a href="">{{category.gn_description}}</a></li>
    {% endfor %}
    </ul>
  </li>
{% endblock %}
